* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    align-items: center;
    background-color: #EEF2FF;
    gap: 25px;
    padding-bottom: 25px;
    margin-top: 75px;
    box-shadow: 5px 5px 20px grey;
    border-radius: 8px;
    border: black solid 2px;
}

.display {
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-bottom: 0;
}

.output {
    height: 100px;
    width: 350px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    border: black solid 2px;
}

.outputNum {
    font-size: 50px;
}

button {
    flex: 1;
    border-radius: 8px;
    font-size: 25px;
    border: black solid 2px;
}

.row {
    width: 350px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.operator {
    background-color: #818CF8;
}

.operator:hover {
    background-color: #5160f5;
}

.operator:active {
    background-color: #394af4;
}

.equals {
    background-color: #4CAF50;
}

.equals:hover {
    background-color: #3d8b40;
}

.equals:active {
    background-color: #357a38;
}

.clear {
    background-color: #f44336;
}

.clear:hover {
    background-color: #ea1c0d;
}

.clear:active {
    background-color: #d2190b;
}